/* 할 일 */
.todo-event {
  background-color: #e8b0a4;
  color: white;
  font-size: 14px;
  border: none;
}
.todo-event:hover {
  background-color: #d5988b;
  cursor: pointer;
  border: none;
}
.todo-event .event-time::before {
  color: white;
  font-weight: bold;
}

/* 영업활동 */
.act-event {
  background-color: #a4cbe8;
  color: white;
  font-size: 14px;
  border: none;
}
.act-event:hover {
  background-color: #95bfdf;
  cursor: pointer;
  border: none;
}
.act-event .event-time::before {
  color: white;
  font-weight: bold;
}

/* 개인 일정 */
.personal_plan-event {
  background-color: #f7eaa4;
  color: #555555;
  font-size: 14px;
  border: none;
}
.personal_plan-event:hover {
  background-color: #ebde8f;
  color: #555555;
}
.personal_plan-event .event-time::before {
  color: #555555;
  font-weight: bold;
}


/* 전사 일정 */
.company_plan-event {
  background-color: #e5eaac;
  color: #555555;
  font-size: 14px;
  border: none;
}
.company_plan-event:hover {
  background-color: #d8de98; 
  color: white;
}
.company_plan-event .event-time::before {
  color: #555555;
  font-weight: bold;
}

/* 제안 */
.proposal_plan-event {
  background-color: #9ed7a9;
  color: white;
  font-size: 14px;
  border: none;
}
.proposal_plan-event:hover {
  background-color: #8fcd9c;
  cursor: pointer;
  border: none;
}
.proposal_plan-event .event-time::before {
  color: white;
  font-weight: bold;
}


/* 계약 */
.contract_plan-event {
  background-color: #8bafc5;
  color: white;
  font-size: 14px;
  border: none;
}
.contract_plan-event:hover {
  background-color: rgb(123, 162, 187);
  cursor: pointer;
  border: none;
}
.contract_plan-event .event-time::before {
  color: white;
  font-weight: bold;
}

/* 매출 */
.sales_plan-event {
  background-color: #a4bbe1;
  color: white;
  font-size: 14px;
  border: none;
}
.sales_plan-event:hover {
  background-color: #99b3de;
  cursor: pointer;
  border: none;
}
.sales_plan-event .event-time::before {
  color: white;
  font-weight: bold;
}

/* 견적 */
.estimate_plan-event {
  background-color: #ccd5db;
  color: #686565;
  font-size: 14px;
  border: none;
}
.estimate_plan-event:hover {
  background-color: #aab9c4;
  cursor: pointer;
  border: none;
}
.estimate_plan-event .event-time::before {
  color: #686565;
  font-weight: bold;
}
.fc-event {
  padding: 4px 0;
  min-height: 20px;
  margin-bottom: 5px;
}


.fc-event-title {
  font-weight: bold;
  color: #fff;
}

.fc-event-title-container {
  padding: 2px 5px;
  text-align: center;
}

.fc-toolbar button:hover {
  background-color: #2a4887;
}
.event-time::before {
  content: "|";
  margin-right: 3px;
  margin-left: 4px;
  font-weight: bold;
}